.footer {
    height: 60vh;
    width: 100vw;
    background-color: #001633;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 70%;
    margin-top: 60px;
    margin-left: 4%;
    margin-right: 4%;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: 261px;
    margin-left: 70px; */
}
.footer-title {
    font-family: post grotesk;
    font-size: 16px;
    font-weight: 700;
}
.footer-sub {
    font-size: 16px;
    font-weight: 400;
    font-family: post grotesk light; 
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.footer-sub:hover {
    color: white;
}

.footer-bottom {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-sub-text {
    font-size: 20px;
    font-family: post grotesk light;
}
.footer-line {
    width: 94%;
    margin-left: 65px;
    margin-right: 65px;
}
.footer-upper {
    margin-top: 50px;
}
.footer-newsletter {
    text-align: left;
    font-family: span;
    font-size: 45px;
    font-weight: 400;
}
.under-news {
    text-align: left;
    margin-top: -5px;
}