.hero {
    height: 100vh;
    width: 100vw;
    background-color: #001633;
    top: -100px;
    display: flex;
    position: relative;
    margin-bottom: -101px;

}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-text{
    color: white;
    padding: 150px 65px;
    overflow: hidden;
    opacity: 0;
}
.small-hero-text {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin: -60px 0px;
}
.larger-hero-text {
    font-size: 150px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    font-family: 'voyage';
}
.hero-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 520px; */


}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero-button {
    color: #ffffff;
    width: 120px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    margin-left: 65px;
    margin-top: 365px;
    cursor: pointer;
}

.ampersand {
    font-family: 'voyage';
    font-size: 250px;
    font-weight: 500;
    margin: 35px -2px;
    color: #D1EF59;
    position: absolute;
}
.Culture {
    position: absolute;
    margin: 112px 187px;
}

.carousel-inner {
    height: 100vh;
}

.carousel-control-prev-icon {
    display: none;
}
.carousel-control-next-icon {
    display: none;
}

a :hover{
    text-decoration: none !important;
  }

  .slideImage {
    width: 100%;
    margin-bottom: -260px;
  }

  .brandName {
    position: absolute;
    font-family: post grotesk;
    font-size: 20px;
    color: #D1EF59;
    bottom: 50px;
    right: 100px;
  }

  .arrow {
    right: 80px;
    bottom: 55px;
  }