.hero {
    height: 90vh;
    background-color: #001633;
    top: 0;
    display: flex;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.hero-text{
    color: white;
    padding: 150px 65px;
}
.small-hero-text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin: -15px 0px;
}
.larger-hero-text {
    font-size: 100px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    font-family: 'voyage';
}
.hero-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-button {
    color: #ffffff;
    width: 120px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 65px;
    margin-top: 325px;
    cursor: pointer;
}

.ampersand {
    font-family: 'voyage';
    font-size: 200px;
    font-weight: 500;
    margin: 15px -15px;
    color: #D1EF59;
    position: absolute;
}
.Culture {
    position: absolute;
    margin: 75px 136px;
}