.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.glossier {
    width: 100vw;
}
.fr-logo {
    position: absolute;
    width: 75%;
    top: 700px;
    left: 65px;
    z-index: 101;
}