.newloading {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.fr-logo {
    position: absolute;
    width: 15%;
    top: 700px;
    left: 65px;
    z-index: 101;
}
.something {
    height: 100%;
    width: 100%;
}

