.panel4 {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #001633;
    flex-direction: column;
}
.panel4-top {
    height: 45vh;
    width: 100%;
    display: flex;
}
.panel4-text {
    color: white;
    font-family: 'post grotesk light';
    font-weight: 300;
    font-size: 30px;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    justify-content: center;
    display: flex;
    text-align: left;
    margin-left: 65px;
}
.panel4-para {
    display: flex;
    justify-content: flex-start;
    /* line-height: 50px; */
    opacity: 0;

}
.panel4-bold {
    font-family: 'post grotesk';
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    opacity: 0;
    color: #CCA5ED;
}
.panel4-bottom {
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel4-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#panel4-button {
    position: absolute;
    color: #ffffff;
    width: 120px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 100px;
    /* margin-right: 1700px; */
    left: 65px;
}

.panel4-brandName {
    position: absolute;
    font-family: post grotesk;
    font-size: 20px;
    bottom: -385%;
    color: white;
    left: 4.25%;
 }
 
 .panel4-arrow {
    bottom: -384.25%;
    left: 14.5%;
 }