.points {
    height: 110vh;
    width: 100vw;
    background-color: #001633;
    color: white;
    display: flex;
    flex-direction: column;

}

.points-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    margin-top: 50px;

}
.points-top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.points-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.points-middle-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.points-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    margin-bottom: 70px;

}
.points-bottom-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.points-line {
    width: 47%;
    margin-bottom: 100px;
}
.points-text-title {
    font-family: voyage;
    font-size: 100px;
}
.points-text-sub {
    font-family: post grotesk light;
    font-size: 20px;
    font-weight: 200;
    width: 80%;
}

.left-margin {
    margin-left: 4%;
    text-align: left;
}
.right-margin {
    margin-right: 4%;
}

.pad-right {
    padding-right: 7%;
}
.pad-left {
    padding-left: 7%;
}

.right-side {
    /* margin-left: 20px; */
}