.team-members {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
}
.team-members-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 65px;
}
