.App {
  text-align: center;
  /* overflow: hidden; */
}

body {
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}


@font-face {
  font-family: 'span';
  src: url(../src/Assets/\ Span-Italic.otf);
}
 @font-face {
  font-family: 'post grotesk';
  src: url(../src/Assets/PostGrotesk-Bold.otf);
 }

 @font-face {
  font-family: 'post grotesk light';
  src: url(../src/Assets/PostGrotesk-Light.otf);
 }

 @font-face {
  font-family: 'voyage';
  src: url('../src/Assets/Voyage-Regular.otf');
 }



a :hover{
  text-decoration: none !important;
}
