.App {
  text-align: center;
  /* overflow: hidden; */
}

@font-face {
  font-family: 'span';
  src: url(../src/Assets/\ Span-Italic.otf);
}
 @font-face {
  font-family: 'post grotesk';
  src: url(../src/Assets/PostGrotesk-Bold.otf);
 }


